[Unit]
Description=Bringup Realsense camera & fiducial launch 

[Service]
ExecStart=/home/threewatt-lp/script/camera_fiducial.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
